body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.search {
  width: 100%;
}
.locate{
}
.compass{
  font-size: 30px;
}
.popover{
  font-family: Arial, Helvetica, sans-serif;
}
.topbar{
  background-color: greenyellow;
  height: 6vh;
}
.flex-grid{
  display: flex;
}
.map-col{
  flex: 1;
}
.sidebar{
  background-color: lightgreen;
  flex: 1;
}